body{
  color:rgba(255, 255, 255, 0.9);
  background-color: #121212;
}

.App {
  text-align: center;

}

.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  width: 400px;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: rgba(255,255,255,.16);
}

h3{
  margin: 0;
  padding: 0;
  font-size: 30px;
}

h4{
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-size: 24px;
}

.card-top{
  display:flex;
  flex-wrap:nowrap;
  justify-content: space-between;
}

.card-top-left{
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.card-top-right{
  display:flex;
  align-items: flex-end;

}

.total-cases{
  color: rgba(210, 133, 255, 0.603);
  margin: 0;
  padding: 0;
  font-size: 75px;
}

.card-bottom{
  display:flex;
  flex-wrap:nowrap;
  justify-content: space-between;
}

.card-bottom-container{
  width: 40%;
  display:flex;
  flex-flow: column nowrap;
}

p{
  font-size:18px;
  padding: 0;
  margin: 0;
  display:flex;
  justify-content: space-between;
}

.red{
  color: rgba(255, 88, 88, 0.603)
}
